body {
    background-color:lightblue;
    text-align: left;
}

h1 {
    font-size: 64;
    margin-left:25px;
    text-align:center;
    width:800px;
}

h2 {
    margin-left:25px;
}

h6 {
    margin-left:25px;
}

canvas {
    border:2px solid black;
    margin-bottom:0px;
    margin-left:25px;
}

a {
    text-decoration:none;
}

p {
    font-size:24;
}



.challenge {
    border:2px solid black;
    background-color:darkgrey;
    width:800px;
    margin-left:25px;
    margin-right:auto;
}

.lessons {
    border: 2px solid black;
    width: 800px;
    height: 50px;
    font-size:32;
    text-decoration:none;
    background-color:darkgrey;
    text-align:center;
    color:black;
    display:block;
    margin:20px;
    margin-left:25px;
    margin-right:auto;
    margin-bottom:0px;
}

.lessons:hover {
    background-color: lightgray;
}

.video {
    border:2px solid black;
    background-color:darkgrey;
    width:800px;
    margin-left:25px;
    margin-right:auto;
}

iframe {
    margin-left:25px;
    margin-bottom:25px;
    border:2px solid black;
}

.explanation {
    border:2px solid black;
    background-color:darkgrey;
    width:800px;
    margin-left:25px;
    margin-right:auto;
}

li {
    font-size:20;
}